.column {
	float: left;
	padding: 20px;
}

.left {
	width: 50%;
}

.middle, .right {
	width: 25%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: $medium-size;
}